.post-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.post-item {
  border-bottom: 4px ridge darkseagreen;
}

.pagination {
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  padding: 0.5rem;
  position: relative;
}

.pagination button {
  flex-basis: 25%;
}

.pagination select {
  flex-basis: 20%;
}
