.App {
  display: grid;
  grid-template-columns: [sidebar-start] 200px [sidebar-end main-start] 1fr [main-end];
}

nav {
  grid-column: span 2;
  margin-bottom: 1px;
  padding: 1rem;
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  padding: 1rem;
}
.sidebar h4 {
  margin: 0;
}

main {
  grid-column: main-start / main-end;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  grid-column: span 2;
  justify-content: center;
  min-height: 20vh;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.flex-row {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 0.3rem 1rem;
  width: 100%;
}
.flex-row button {
  flex-basis: 25%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
